<div *ngIf="PR">
    <br>
    <h3 >Review:  Purchase Request #{{PR.Id}}</h3>
    <br>
        <a routerLink="/pr/list">Return to Purchase Request List</a> |
         <a routerLink="/pr/edit/{{PR.Id}}">Edit Purchase Request #{{PR.Id}}</a> 
    <br>
    <br>
    
    <table class="form-group" *ngIf="PR">  <!--this says don't render the table until you get the data back -->
      
      <tr>
        <th>Id:</th>
        <td>{{PR.Id}}</td>
      </tr>
    
      <tr>
          <th>Requester:</th>
          <td>{{PR.User.Username}}</td>
      </tr>
   
      <tr>
          <th>Request Description:</th>
          <td>{{PR.RequestDescription}}</td>
        </tr>
  
        <tr>
          <th>Request Justification:</th>
          <td>{{PR.RequestJustification}}</td>
        </tr>
        <tr>
          <th>Line Items:</th>
          <td>

<table class="table table-sm"> <!-- This is the line item table-->
    <thead class="thead-light">
    <th>Id</th>
    <th>Product</th>
    <th>Unit</th>
    <th>Price Per Unit</th>
    <th>Quantity</th>
    <th>Line Item Total</th>
  </thead>
  <tbody>
  <tr *ngFor="let p of PR.PurchaseRequestLineItems">
    <td>{{p.Id}}</td>
    <td>{{p.Product.Name}}</td>
    <td>{{p.Product.Unit}}</td>
    <td>{{p.Product.Price | currency }}</td>
    <td>{{p.Quantity}}</td>
    <td>{{p.Quantity * p.Product.Price | currency }}</td>
</tr>
</tbody>
</table>
<!-- End of line item table-->
</td>
</tr>
        <tr>
            <th>Total:</th>
            <td>{{PR.Total}}</td>
        </tr>
  
        <tr>
              <th>Delivery Mode:</th>
              <td>{{PR.DeliveryMode}}</td>
        </tr>
  
    <tr>
      <th>Active:</th>
      <td>{{PR.Active? 'Yes' : 'No'}}</td>
    </tr>

    <tr>
        <th>Status:</th>
        <td><select id="Status"
          [(ngModel)]="PR.Status"
          class="form-control"
          required>
          <option value="APPROVED">APPROVE</option>
          <option value="REJECTED">REJECT</option>
        </select></td>
    </tr>

    <tr>
        <th>Reason for Rejection:</th>
        <td>
            <input type="textarea" 
            id="ReasonForRejection"
            [(ngModel)]="PR.ReasonForRejection"
            placeholder="If approving, leave blank"
            class="form-control">
        </td>
      </tr>
    </table>
    <br> <span>
    <button class="btn btn-primary" (click)="change()">Submit Review for Purchase Request #{{PR.Id}}</button>
  </span>
    </div>
  
    